<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madmini">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MadMini">
        <activity
            android:name=".it20122096.DisplayQuotationList"
            android:exported="true"
            android:parentActivityName=".it20122096.Admin_Panel">

            <!--
            The meta-data tag is required if you support API level 15
            and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.Admin_Panel" />

        </activity>
        <activity
            android:name=".it20250638.ViewActivity"
            android:exported="true" />
        <activity
            android:name=".it20250638.EditLaptopActivity"
            android:exported="true" />
        <activity
            android:name=".it20250638.DisplayLaptopActivity"
            android:exported="true" />
        <activity
            android:name=".it20250638.AddLaptopActivity"
            android:exported="true" />
        <activity
            android:name=".it20115302.spare_parts_comp.AddCartSparePart"
            android:exported="true" />
        <activity
            android:name=".it20122096.LaptopOrders"
            android:exported="true"
            android:parentActivityName=".it20122096.Admin_Panel">

            <!--
            The meta-data tag is required if you support API level 15
            and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.Admin_Panel" />
        </activity>


        <activity
            android:name=".it20122614.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".it20122614.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".it20122614.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".it20122614.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".it20122614.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".it20122614.CartActivity"
            android:exported="true" />
        <activity
            android:name=".it20122614.AddressBookActivity"
            android:exported="true" />
        <activity
            android:name=".it20115302.spare_parts_comp.ViewAllSpareParts"
            android:exported="true" />
        <activity
            android:name=".it20115302.spare_parts_comp.UpdateSparePart"
            android:exported="true" />
        <activity
            android:name=".it20115302.spare_parts_comp.ShowSpareParts"
            android:exported="true" />
        <activity
            android:name=".it20115302.spare_parts_comp.AddSparePart"
            android:exported="true" />
        <activity
            android:name=".it20122096.PartOrders"
            android:exported="true"
            android:parentActivityName=".it20122096.Admin_Panel">

            <!--
            The meta-data tag is required if you support API level 15
            and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.Admin_Panel" />
        </activity>
        <activity
            android:name=".it20122096.Order_Details"
            android:exported="true"
            android:parentActivityName=".it20122096.Admin_Panel">

            <!--
            The meta-data tag is required if you support API level 15
            and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.Admin_Panel" />
        </activity>
        <activity
            android:name=".it20122096.Pc_Build_Orders"
            android:exported="true"
            android:parentActivityName=".it20122096.Pc_Build_Orders">

            <!--
            The meta-data tag is required if you support API level 15
            and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.Pc_Build_Orders" />
        </activity>
        <activity
            android:name=".it20122096.Admin_Panel"
            android:exported="true"
            android:parentActivityName=".it20122096.DashBoard">

            <!--
            The meta-data tag is required if you support API level 15
            and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.DashBoard" />
        </activity>
        <activity
            android:name=".it20122096.Add_Quotation_Item"
            android:exported="true"
            android:parentActivityName=".it20122096.BulidPc">

            <!--
            The meta-data tag is required if you support API level 15
            and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.BulidPc" />
        </activity>
        <activity
            android:name=".it20122096.Quotation_Items"
            android:exported="true"
            android:parentActivityName=".it20122096.BulidPc">

            <!--
            The meta-data tag is required if you support API level 15
            and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.BulidPc" />
        </activity>
        <activity
            android:name=".it20122096.BulidPc"
            android:exported="true"
            android:parentActivityName=".it20122096.DashBoard">

            <!--
        The meta-data tag is required if you support API level 15
        and lower
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".it20122096.DashBoard" />
        </activity>
        <activity
            android:name=".it20122096.DashBoard"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
    </application>

</manifest>